<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Galerie Cafeluz</title>
    <meta name="description"
        content="Cafeluz este un magazin pentru toti pasionatii de cafea, in care se vinde atat cafea, cat si accesorii speciale de facut cafea">
    <meta name="keywords"
        content="galerie cafeluz, galerie cafea, poze cafea, cafea, cafeluz, cafea de specialitate">

   <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <%- include("../fragmente/galerie.ejs") %>
</body>