<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Prezentare Cafeluz</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs"); %>
    <div id="grid-pagina">
        <section id="welcome">
                <h2>Prezentare Cafeluz</h2>

                <p class="intro">Cafeluz este un magazin de cafea de specialitate, espressoare și accesorii barista
                    dedicat tuturor cafegiilor profesioniști sau amatori.
                    Pe site-ul nostru veți găsi o varietate de produse, de la cafea de specialitate, până la accesorii
                    pentru orice barista în devenire.<br>
                    Iată ofertele noastre:
                </p>

                <div class="intro-oferte">
                    <div></div>
                    <div>Cafea de specialitate</div>
                    <div>Espressoare</div>
                    <div>Accesorii barista</div>
                </div>
                <p class="anunt intro">Pentru orice degustare, participare la evenimente sau pentru mai multe
                    informații, vă așteptăm la cafenea!<br>
                    Ne găsiți în București, pe Calea Floreasca, nr 16, la parter.</p>
            </section>
    </div>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>