<header id="titlu">
        <!--  Cerinta 8 -->
        <h1 class="barriecito-regular">Cafeluz <i class="fa-solid fa-mug-saucer"></i></h1>
        <!--<img src="sigla.png" alt="sigla" />-->
        <nav>
            <ul>
                <li>Acasa
                    <ul>
                        <li>
                            <a href="#welcome" style="color: red; text-decoration: underline;">Bine ati venit</a>
                        </li>
                        <li>
                            <a href="#promotii">Promotii</a>
                        </li>
                    </ul>
                </li>
                <li>Despre</li>
                <li>Produse
                    <ul>
                        <li>
                            <a href="#cafea">Pungi de Cafea</a>
                        </li>
                        <li>
                            <a href="#espressoare">Espressoare</a>
                        </li>
                        <li>
                            <a href="#accesorii-barista">Accesorii Barista</a>
                        </li>
                    </ul>
                </li>
                <li>Inregistrare</li>
            </ul>
        </nav>
    </header>